
body{
    background-color: rgb(253, 238, 215);
    overflow-x: hidden;
    width: 100vw;
}

#menuIzquierdo {
    height: 100vh;
}

.colorDeFondo {
    background-color: rgb(253, 238, 215);
}

.protest-revolution-regular {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:xx-large;
}

.flamenco-regular {
    font-family: "Flamenco", system-ui;
    font-weight: 400;
    font-style: normal;
}

.colorOro{
    background-color: #e6b450;
}

.colorDeFuente{
    color: #0c3c31;
}

.colorVerdeClaro{
    background-color: #3c835e;
}

#tachitoDeBasura:hover{
    background-color: #da3344;
}

#btnCarrito:hover{
    background-color: rgb(253, 238, 215);
}